<!DOCTYPE html>
<!--
<html ng-app="gameApp">

<head>
    <title>Quest of The Round Table</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Advent+Pro:100" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="css/gameboard.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
</head>

<body>
-->

<div id="container">
    <div id="gameboard">
        <!--    OPPONENT HAND ZONES        -->
        <div class="opponentHandsContainer">
            <div ng-repeat="player in players" ng-hide="$index == myPlayerId">
                <div class="opponentHandZone">
                    <div class="displayContainer" ng-model="player.shieldIcon"></div>
                    <div class="cardZones">
                        <div class="opponentHand" ng-model="player.hand">
                            <div ng-repeat="card in player.hand">
                                <div c1 class="card1" card1="Adventure Back"></div>
                            </div>
                        </div>
                        <div class="opponentFaceUp">
                            <div ng-repeat="card in player.faceUp">
                                <div c1 class="card1" card1="{{card.key}}"></div>
                            </div>
                        </div>
                        <div class="opponentFaceDown">
                            <div ng-repeat="card in player.faceDown">
                                <div c1 class="card1" card1="Adventure Back"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    MIDDLE SECTION (Middle card/Stage cards/ discard pile/buttons)        -->
        <div class="toastContainer">
            <h2 ng-model="toast">{{toast}}</h2>
        </div>
        <div class="middleContainer">
            <div class="middlecardContainer">
                <div c1 class="card1" card1="{{middleCard}}"></div>
                <div class="accept-decline-container" ng-show="showAcceptDecline()">
                    <button class="btn-accept" ng-click="sendStoryResponse('true')">Y</button>
                    <button class="btn-decline" ng-click="sendStoryResponse('false')">N</button>
                </div>
            </div>
            <div class="stageZone">

                <div class="stageContainer">
                    <div class="stage btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_s1'}" ng-hide="numStages<1">
                        <div ng-show="players[myPlayerId].isSponsoring == true">
                            <div ng-repeat="card in stageZones.stage1" ng-model="stageZones.stage1">
                                <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                            </div>
                        </div>
                    </div>
                    <div class="stage btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_s2'}" ng-hide="numStages<2">
                        <div ng-show="players[myPlayerId].isSponsoring == true">
                            <div ng-repeat="card in stageZones.stage2" ng-model="stageZones.stage2">
                                <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                            </div>
                        </div>
                    </div>
                    <div class="stage btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_s3'}" ng-hide="numStages<3">
                        <div ng-show="players[myPlayerId].isSponsoring == true">
                            <div ng-repeat="card in stageZones.stage3" ng-model="stageZones.stage3">
                                <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                            </div>
                        </div>
                    </div>
                    <div class="stage btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_s4'}" ng-hide="numStages<4">
                        <div ng-show="players[myPlayerId].isSponsoring == true">
                            <div ng-repeat="card in stageZones.stage4" ng-model="stageZones.stage4">
                                <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                            </div>
                        </div>
                    </div>
                    <div class="stage btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_s5'}" ng-hide="numStages<5">
                        <div ng-show="players[myPlayerId].isSponsoring == true">
                            <div ng-repeat="card in stageZones.stage5" ng-model="stageZones.stage5">
                                <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="slidecontainer">
                    <!--                    ng-show="players[myPlayerId].joinedQuest == true &&  currentState == GAME_STATE.BIDQUEST"-->
                    <rzslider rz-slider-model="bidSlider.value" rz-slider-options="bidSlider.options" ng-show="showBidSlider()"></rzslider>
                </div>

                <div class="buttonContainer">
                    <button class="brown-button" ng-click="sendQuestPickStagesClient()" ng-show="showDoneSettingUp()">Done Setting Up</button>
                    <button class="brown-button" ng-click="sendQuestPickCardsClient()" ng-show="showDonePickingQuestCards()">Done Picking Cards</button>
                    <button class="brown-button" ng-click="sendQuestBidClient()" ng-show="showBidButton()">Bid {{bidSlider.value}}</button>
                    <!--                    <button class="brown-button">End Turn</button>-->
                </div>
            </div>
            <div class="discardContainer btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_discard'}">
                <div class="discardPile">
                    <div ng-repeat="card in players[myPlayerId].discardPile" ng-model="players[myPlayerId].discardPile">
                        <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                    </div>
                </div>
                <!--                Only show discard button if player needs to discard cards-->
                <button class="brown-button" ng-show="showDiscardButton()" ng-click="sendFinishDiscard()">Discard</button>

            </div>
        </div>

        <!--    PLAYER HAND ZONES       -->
        <div class="playerZone">

            <div class="displayContainer">
                <div class="rankCardContainer">
                    <!--  RANK CARD IMAGE GOES HERE  -->

                    <div ng-model="myPlayerId">
                        <h1>{{myPlayerId}}</h1>
                    </div>
                </div>
                <div class="shieldBpContainer">
                    <!--   BP VALUE GOES HERE       -->
                    <div>
                    </div>
                    <!--  SHIELD IMAGE GOES HERE    -->
                    <div>
                    </div>
                </div>
            </div>
            <div class="cardZones">
                <div class="playerFaceUp">
                    <div ng-repeat="card in players[myPlayerId].faceUp" ng-model="players[myPlayerId].faceUp">
                        <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                    </div>
                </div>
                <div class="playerFaceDown btn-droppable" data-drop="true" jqyoui-droppable="{onDrop:'dropCallback_myfd'}">
                    <div ng-repeat="card in players[myPlayerId].faceDown" ng-model="players[myPlayerId].faceDown">
                        <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                    </div>
                </div>
                <div class="playerHand">
                    <div ng-repeat="card in players[myPlayerId].hand" ng-model="players[myPlayerId].hand">
                        <div c1 class="card1" card1="{{card.key}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable></div>
                    </div>
                </div>
                <!--
<div ng-repeat="card in players[0].hand">
    {{card}}
</div>
-->
            </div>
        </div>
    </div>
</div>
<!--
<script src="js/card.js">
</script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

</body>

</html>
-->
