<!DOCTYPE html>
<html ng-app="gameApp" ng-init="person={fName: 'Michael', lName:'Kuang'}; capitals=[{city:'Ottawa', province:'Ontario'}, {city:'Toronto', province:'Ontario'},{city:'Quebec', province:'Ontario'}]">

<head>
    <title>Quest of The Round Table</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Advent+Pro:100" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="js/angular-dragdrop.min.js "></script>
</head>

<body>

    <div ng-controller="gameController">

    	<div id="main">
    		<div id="menu"><br><br>
	            <button class="btn menubtn" ng-click="sendListGamesClient()">REFRESH LOBBY</button></br></br>
                <div id="createGame">
	               <button class="btn menubtn" ng-click="sendCreateGameClient(numPlayers, RIGGED.NORAML, pName)">CREATE A GAME</button>
                </div>
                </br>
	            <input ng-model="pName" placeholder="player name"></br>
	            <select ng-init="# Players" ng-model="numPlayers" ng-options=""></br>
                <select ng-model="" ng-options="">
    		</div>
    		<div id="lobby">
                <br>
    			<ul id="lobbyList">
    				<li ng-repeat="game in serverList" ng-model='serverList'>
                        <div class="game">
                            <div class="info">
    	    				UUID:{{game.uuid}} </br>
    	                    NumPlayers: {{game.players}} </br>
    	                    Capacity:{{game.capacity}} </br></br>
                            </div>
                            <button class="btn joinbtn" ng-click="sendGameJoinClient(game.uuid);
                            showMessage('Waiting for other players...')">JOIN</button></br>        
                        </div>
                	</li>
            	</ul>
    		</div>
    	</div>
    	
    </div>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</body>

</html>