<!DOCTYPE html>
<html ng-app="gameApp" ng-init="person={fName: 'Michael', lName:'Kuang'}; capitals=[{city:'Ottawa', province:'Ontario'}, {city:'Toronto', province:'Ontario'},{city:'Quebec', province:'Ontario'}]">

<head>
    <title>Quest of The Round Table</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Advent+Pro:100" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="js/angular-dragdrop.min.js "></script>
</head>

<body>

    <div ng-controller="gameController">

    	<div id="main">
    		<div id="menu">
                <p id="status">{{status}}</p>
	            <button class="btn menubtn" ng-click="sendListGamesClient()">REFRESH LOBBY</button></br></br>
                <div id="createGame">
	               <button class="btn menubtn" ng-click="sendCreateGameClient(numPlayers, RIGGED.NORAML, pName)">CREATE A GAME</button>
                </div>
                </br>
<!--                 <p class="createGameText">Player Name</p>
	            <input class="createGameInp" ng-model="pName"></input> -->
                <p class="createGameText">Num Players</p>
	            <select class="createGameInp" ng-model="numPlayers" ng-options="n for n in np"></select><br><br>
                <button class="btn" id="addAI" ng-click="addAI(numPlayers)">Add AIs + </button><br><br>

                <div id="ais" ng-repeat="ai in ais" ng-model="ais">
                    <div class="AI">
                        AI {{ai.num}} <br>
                        Strategy : <select class="stratSelect" ng-model="strat" ng-options="s for s in strats"></select>
                        <br>
                    </div>
                </div>

    		</div>
    		<div id="lobby">
                <br>
    			<ul id="lobbyList">
    				<li ng-repeat="game in serverList" ng-model='serverList'>
                        <div class="game">
                            <div class="info">
    	    				Name:{{game.uuid}} </br> <!-- replace with game.name when its added -->
    	                    NumPlayers: {{game.players}} </br>
    	                    Capacity:{{game.capacity}} </br></br>
                            </div>
                            <button class="btn joinbtn" ng-click="sendGameJoinClient(game.uuid);
                            showMessage('Waiting for other players...')">JOIN</button></br>        
                        </div>
                	</li>
            	</ul>
                <div id="shields">
                    <button id="shield1" class="shield" ng-click="selectShield(1)"></button>
                    <button id="shield2" class="shield" ng-click="selectShield(2)"></button>
                    <button id="shield3" class="shield" ng-click="selectShield(3)"></button>
                    <button id="shield4" class="shield" ng-click="selectShield(4)"></button>
                </div>
                <p id="shieldWarning">{{shieldWarning}}</p>
    		</div>
    	</div>
    	
    </div>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</body>

</html>