html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #2f294f;
    margin: 0;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}

h2 {
    color: white;
    font-size: 35px;
    font-family: 'Cinzel', serif;
}

#titlescreenbg {
    background-image: url("resources/titlescreen1.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#menu {
    position: absolute;
    z-index: 2;
    left: 250px;
    right: 100px;
    width: 46%;
    text-align: center;
}

button {
    height: 40px;
    width: 180px;
}

#canvas {
    position: relative;
    z-index: 1;
}

input {
    opacity: 0.8;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    height: 10%;
}

::placeholder {
    color: #88969b;
}

.shield {
    width: 9%;
    height: 100px;
    border: 4px solid black;
    border-radius: 10px;
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
}

.selectedShield {
    border: 4px solid #ffb600;
}

#shield1 {
    background-image: url("resources/S1.png");
}

#shield2 {
    background-image: url("resources/S2.png");
}

#shield3 {
    background-image: url("resources/S3.png");
}

#shield4 {
    background-image: url("resources/S4.png");
}

.card {
    position: absolute;
    width: 100px;
    height: 150px;
    background-image: url("resources/Adventure%20Back.png");
    background-size: auto;
    background-size: 100px 150px;
}

div[card-img]{
    width: 100px;
    height: 150px;
    color: #fff;
}

.box {

    width: 200px;
    height: 200px;
    opacity: 20%;
    padding: 10px 20px;
    border-width=10px;
    border-color: bisque;
    background-color: white;
}
