//Container is used to fix the vh/vw scaling issue
#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

#gameboard {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    max-height: 56.25vw;
    max-width: 100vw;
    background-image: url("../gameResources/gameboardbg3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    /* vertical center */
    left: 0;
    right: 0;
}

/********************************
* Player Zone, Hand and Card CSS
*********************************/

.playerZone {
    position: absolute;
    width: 80vw;
    height: 12vw;
    top: 40vw;
    left: 10vw;
}

.cardZones {
    width: 80%;
    height: 100%;
    display: inline-block;
}

.playerFaceDown {
    width: 50%;
    height: 50%;
    background-color: rgba(66, 50, 50, 0.57);
    /*    margin-bottom: 0.50vw;*/
    border: 1 solid rgba(66, 50, 50, 0.70);
    left: 0.5vw;
    display: inline-block;
    float: left;
}

.playerZone .playerFaceUp {
    width: 50%;
    height: 50%;
    background-color: rgba(66, 50, 50, 0.57);
    border: 0.5% solid rgba(66, 50, 50, 0.70);
    display: inline-block;
    float: right;
}

.playerZone .playerHand {
    width: 100%;
    height: 50%;
    background-color: rgba(66, 50, 50, 0.57);
    display: inline-block;
    float: left;
}

.playerZone .displayContainer {
    width: 19%;
    height: 100%;
    background-color: rgba(66, 50, 50, 0.57);
    display: inline-block;
}

.displayContainer .rankCardContainer {
    position: relative;
    width: 60%;
    height: 100%;
    background-image: url("../gameResources/Squire.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.displayContainer .shieldBpContainer {
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
}

.playerHand .card {
    width: 4vw;
    height: 5.2vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.playerHand .card:hover {
    margin-top: -1vw;
    margin-left: -1vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhover;
    animation-duration: 0.25s;
}

/*WE ARE USING card-img FOR OUR CARDS. NOT class='card' since this is the cleanest way to dynamically change the background image (which is using directives. see app.js to find the directive)*/

.playerHand .card1 {
    width: 4vw;
    height: 5.2vw;
    display: inline-block;
    float: left;
}

.playerHand .card1:hover {
    margin-top: -1vw;
    margin-left: -1vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhover;
    animation-duration: 0.25s;
}

.playerHand .card:hover {
    margin-top: -2.5vw;
    margin-left: -2.5vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhover;
    animation-duration: 0.25s;
}

@keyframes cardhover {
    from {
        /*
        margin-top: 0vw;width: 6vw;
height: 8vw;
*/
    }
    to {
        margin-top: -1vw;
        margin-left: -1vw;
        width: 10vw;
        height: 13vw;
    }
}


/****************************
* Opponent Hand and Card CSS
****************************/

.opponentHandsContainer {
    position: absolute;
    top: 3.20vw;
    left: 4vw;
    height: 10vw;
    width: 96vw;
}

.opponentHandsContainer .opponentHandZone {
    width: 30vw;
    height: 10vw;
    display: inline;
    float: left;
    margin-right: 0.25vw;
}

.opponentHandsContainer .opponentHand {
    width: 100%;
    height: 50%;
    background-color: rgba(66, 50, 50, 0.57);
    float: left;
}

.opponentHandsContainer .opponentFaceUp {
    width: 50%;
    height: 50%;
    background-color: rgba(66, 50, 50, 0.57);
    float: left;
}

.opponentHandsContainer .opponentFaceDown {
    width: 50%;
    height: 50%;
    background-color: rgba(66, 50, 50, 0.57);
    float: right;
}

.opponentHandsContainer .card {
    /*    position: absolute; we are going to need to use this position:absoluate at some point
    when we want to reposition cards that over flow (in otherwords stacking divs on top each other)*/
    width: 3vw;
    height: 4vw;
    background-image: url("../gameResources/Adventure%20Back.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    z-index: 100;
}

.opponentHandsContainer div[card-img] {
    /*    position: absolute; we are going to need to use this position:absoluate at some point
    when we want to reposition cards that over flow (in otherwords stacking divs on top each other)*/
    width: 3vw;
    height: 4vw;
    /*    background-image: url("../gameResources/Adventure%20Back.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    z-index: 100;
}

.playerHand div[card-img]:hover {
    margin-top: -2.5vw;
    margin-left: -2.5vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhoveropponent;
    animation-duration: 0.25s;
}


/*
div[card-img] {
    width: 100px;
    height: 150px;
    color: #fff;
}
*/

.opponentHandsContainer .card:hover {
    margin-left: -1vw;
    width: 6vw;
    height: 8vw;
    animation-name: cardhoveropponent;
    animation-duration: 0.25s;
    z-index: 9000;
}


@keyframes cardhoveropponent {
    from {
        margin-left: -1vw;
        width: 3vw;
        height: 4vw;
    }

    to {
        width: 6vw;
        height: 8vw;
        margin-left: -1vw;
    }
}

.opponentHandsContainer .displayContainer {
    width: 19%;
    height: 100%;
    background-color: rgba(66, 50, 50, 0.57);
    display: inline-block;
}

.toastContainer {
    position: absolute;
    width: 80%;

    height: 3vw;
    top: 13.5vw;
    left: 10%;
    background-color: rgba(66, 50, 50, 0.57);
}

.toastContainer h2 {
    text-align: center;
    font-size: 1vw;
}

/* CSS for the Middle section of the gameboard 
    e.g the stages, discardpile, buttons slider */

.middleContainer {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 17vw;

}

.middleContainer .middlecardContainer {
    position: absolute;
    width: 15vw;
    height: 100%;
    left: 9vw;
    display: inline;
    background-color: rgba(66, 50, 50, 0.57);
}

.middlecardContainer .card {
    position: absolute;
    width: 10vw;
    height: 15vw;
    left: 2.5vw;
    top: 2.5vw;
    background-image: url("../gameResources/Slay%20the%20Dragon.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    z-index: 50;
}

/*SIMILARLY WE ARE USING CARD-IMG NOT .CARD*/

.middlecardContainer .card1 {
    position: absolute;
    width: 10vw;
    height: 15vw;
    left: 2.5vw;
    top: 2.5vw;
    float: left;
    z-index: 50;
}


.middlecardContainer .accept-decline-container {
    position: absolute;
    left: 3.25vw;
    width: 10vw;
    height: 4vw;
    top: 17vw;
}

.accept-decline-container .btn-accept {
    /* make background color transparent */
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../gameResources/btn-accept.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 4vw;
    height: 4vw;
    border: none;
    margin-right: 0.25vw;
}

.accept-decline-container .btn-decline {
    background-image: url("../gameResources/btn-decline.png");
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    left: 50%;
    width: 4vw;
    height: 4vw;
}

.middleContainer .stageZone {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    background-color: rgba(66, 50, 50, 0.57);
    overflow: auto;
}

.stageZone .stageContainer {
    height: 100%;
    width: 75%;
    display: inline-block;
}

.stageContainer .stage {
    position: relative;
    height: 90%;
    width: 6vw;
    top: 5%;
    margin-left: 1vw;
    display: inline-block;
    background-color: rgb(116, 84, 51);
}

.stageContainer .card1 {
    width: 4vw;
    height: 5.2vw;
    float: left;
}

.slidecontainer {
    position: absolute;
    width: 90%;
    height: 95%;
    display: inline;
    padding: 1%;
}

.slider {
    -webkit-appearance: slider-vertical;
    width: 100%;
    height: 80%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* WebKit */
}

.slider:hover {
    opacity: 1;
}

.stageZone .buttonContainer {
    height: 20vw;
    width: 8vw;
    padding: 1vw;
    float: right;
    display: inline-block;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.stageZone .medievalButton {
    width: 10vw;
    height: 4.5vw;
    background-image: url("../gameResources/medeival-btn1.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* make background color transparent */
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

.middleContainer .discardContainer {
    position: absolute;
    height: 100%;
    width: 8vw;
    left: 76vw;
    background-color: rgba(66, 50, 50, 0.57);
}

.discardContainer .discardPile {
    width: 100%;
    height: 67%;
    background-image: url("../gameResources/discardTray.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.brown-button {
    width: 8vw;
    height: 2.1vw;
    background-image: url("../gameResources/buttonLong_brown.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0.5vw
}

.brown-button:active {
    background-image: url("../gameResources/buttonLong_brown_pressed.png");
    transform: translateY(4px);
}
