#container {
    width: 100vw;
    height: 100vh;
    overflow: scroll
}

#gameboard {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    max-height: 56.25vw;
    max-width: 100vw;
    background-image: url("../gameResources/gameboardbg3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    /* vertical center */
    left: 0;
    right: 0;
}

/*
* Player Zone, Hand and Card CSS
*/
.playerZone {
    position:absolute;
    width:81vw;
    height:12vw;
    top:40vw;
    left:10vw;
}
.playerZone .playerFaceDown{
    width:39.5vw;
    height:6vw;
    background-color: rgba(66, 50, 50, 0.57);
    margin-bottom:0.25vw;
    margin-left: 0.25vw;
    display:inline;
    float:left;
}
.playerZone .playerFaceUp{
    width:39.5vw;
    height:6vw;
    background-color: rgba(66, 50, 50, 0.57);
    margin-bottom:0.25vw;
    margin-right:0.25vw;
    display:inline;
    float:left;
}
.playerZone .playerHand {
    
    top: 5vw;
    width: 80vw;
    height: 6vw;
    background-color: rgba(66, 50, 50, 0.57);
    display:block;
    
    
}

.playerHand .card {
    width: 4vw;
    height: 5.2vw;
    background-image: url("../gameResources/Adventure%20Back.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.playerHand .card:hover {
    margin-top: -2.5vw;
    margin-left: -4vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhover;
    animation-duration: 0.25s;
}

@keyframes cardhover {
    from {
        margin-top: 0vw;
        width: 6vw;
        height: 8vw;
    }

    to {
        margin-top: -2.5vw;
        width: 10vw;
        height: 13vw;
    }
}

/*
* Opponent Hand and Card CSS
*/

.opponentHandsContainer {
    position: absolute;
    top: 3.5vw;
    left: 2vw;
}

.opponentHandsContainer .opponentHand {
    width: 30vw;
    height: 5vw;
    background-color: rgba(66, 50, 50, 0.57);
    margin-left: 1vw;
    margin-right: 1vw;
    float: left;
}

.opponentHand .card {
    width: 4vw;
    height: 5.2vw;
    background-image: url("../gameResources/Adventure%20Back.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    border: 0px solid black;
}

.opponentHand .card:hover {
    margin-left: -4vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhoveropponent;
    animation-duration: 0.25s;
}


@keyframes cardhoveropponent {
    from {
        margin-left: vw;
        width: 6vw;
        height: 8vw;
    }

    to {
        width: 10vw;
        height: 13vw;
        margin-left: -4vw;
    }
}
