#gameboard {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    background-image: url("../gameResources/gameboardbg3.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

/*
* Player Hand and Card CSS
*/

.playerHand {
    position: absolute;
    width: 60vw;
    height: 8vw;
    background-color: rgba(66, 50, 50, 0.57);
    top: 45vw;
    left: 20vw;
}

.playerHand .card {
    width: 6vw;
    height: 8vw;
    background-image: url("../gameResources/Adventure%20Back.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.playerHand .card:hover {
    margin-top: -2.5vw;
    margin-left: -4vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhover;
    animation-duration: 0.25s;
}

@keyframes cardhover {
    from {
        margin-top: 0vw;
        width: 6vw;
        height: 8vw;
    }

    to {
        margin-top: -2.5vw;
        width: 10vw;
        height: 13vw;
    }
}

/*
* Opponent Hand and Card CSS
*/

.opponentHandsContainer {
    position: absolute;
    top: 3.5vw;
    left: 2vw;
}

.opponentHandsContainer .opponentHand {
    width: 30vw;
    height: 5vw;
    background-color: rgba(66, 50, 50, 0.57);
    margin-left: 1vw;
    margin-right: 1vw;
    float: left;
}

.opponentHand .card {
    width: 4vw;
    height: 5.2vw;
    background-image: url("../gameResources/Adventure%20Back.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    border: 0px solid black;
}

.opponentHand .card:hover {
    margin-left: -4vw;
    width: 10vw;
    height: 13vw;
    animation-name: cardhoveropponent;
    animation-duration: 0.25s;
}


@keyframes cardhoveropponent {
    from {
        margin-left: vw;
        width: 6vw;
        height: 8vw;
    }

    to {
        width: 10vw;
        height: 13vw;
        margin-left: -4vw;
    }
}
