html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #2f294f;
    margin: 0;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}

h2 {
    color: white;
    font-size: 35px;
    font-family: 'Cinzel', serif;
}

#titlescreenbg {
    background-image: url("../gameResources/titlescreen1.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#lobby{
    position: relative;
    z-index: 2;
    top: 0px;
    width: 35%;
    height: 400px;
    margin-right: 40px;
    float: right;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
}

#lobbyTitle{
    background-color: black;
    color: white;
    font-size: 150%;
}

#lobbyList{
    color: white;
}

#join{
    position: relative;
    z-index: 2;
    top: 400px;
    float: right;    
}

#menu {
    float: left;
    position: absolute;
    z-index: 2;
    top:0px;
    width: 60%;
    text-align: center;
}

.shield {
    width: 9%;
    height: 100px;
    border: 4px solid black;
    border-radius: 10px;
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 10px;
}

.selectedShield {
    border: 4px solid #ffb600;
}

#shield1 {
    background-image: url("../gameResources/S1.png");
}

#shield2 {
    background-image: url("../gameResources/S2.png");
}

#shield3 {
    background-image: url("../gameResources/S3.png");
}

#shield4 {
    background-image: url("../gameResources/S4.png");
}

#status{
    background-color: black;
    color: white;
    position: relative;
    top: 400px;
    float: right;
}

.card {
    position: absolute;
    width: 100px;
    height: 150px;
    background-image: url("../gameResources/Adventure%20Back.png");
    background-size: auto;
    background-size: 100px 150px;
}

div[card-img]{
    width: 100px;
    height: 150px;
    color: #fff;
}

.box {

    width: 100px;
    height: 100px;
    opacity: 20%;
    padding: 10px 20px;
    border-width=10px;
    border-color: bisque;
    background-color: white;
}
